// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$bg-color: #e6ecf0;
$primary-color: #1ea1f2;

body {
  background: $bg-color;
}

.user {
  background: $primary-color;
}

.search-btn {
  border: 1px solid $primary-color;
  color: $primary-color;
}

.search-btn:hover {
  background: $primary-color;
  color: #fff;
}
